.petition-container{
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 60%;
  margin: 25px auto;
  padding: 20px;
  border: 5px solid lightgrey;
  border-radius: 8px;
  background-color: #f7f7f7;
}

.text-justify {
    text-align: justify;
}