/* Custom styles to lock image size and style buttons */
.custom-image {
    height: 100%; /* This will make the image take up 100% of its container's width */
    max-height: 250px; /* Limit the image width */
    width: auto; /* Maintain aspect ratio */
    padding: 10px; /* Padding around the image */
    border-radius: 8px; /* Optional: rounded corners for image */
}

.custom-buttons {
    padding: 10px; /* Padding around buttons */
    border-radius: 8px; /* Optional: rounded corners for buttons */
}

.list-group-item {
    border: 1px solid lightgrey; /* Adding border to individual buttons */
}

.pageTitle{
  font-family: "Arial";
  text-align: center;
}

.form-container{
  font-family: "Arial";
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  border: 5px solid lightgrey;
  border-radius: 8px;
}